<!DOCTYPE html>
<html>
<head>
  <title>Pokenea</title>
  <link rel="stylesheet" href="/css/image.css">
</head>
<body>
  <h1><%= pokenea.name %></h1>
  <img src="<%= pokenea.image %>" alt="<%= pokenea.name %>" />
  <div class="frase">"<%= pokenea.phrase %>"</div>
  <div class="container-id">Contenedor: <%= containerId %></div>
</body>
</html>